body{
  background-image: url('https://cdn.pixabay.com/photo/2012/10/25/23/18/train-62849_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.container{
  background-color: rgba(255,255,255,0.85);
  border-radius: 10px;
  margin:80px auto;
  width:50vw;
  padding:20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

h1{
  background-color:rgb(143,36,28);
  color:white;
}

#sconto{
  font-size:80%;
}
h4{
  color:rgb(143,36,28);
}

ul{
  list-style: none;
}