body{
  background-image: url('https://img0.oastatic.com/img2/34078656/max/glacier-express-im-albulatal.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}

.container{
  background-color: rgba(255,255,255,0.85);
  border-radius: 10px;
  margin:80px auto;
  width:40vw;
  padding:20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}

h1{
  background-color:#900019;
  color:white;
}

#sconto{
  font-size:80%;
}
h4{
  color:rgb(144,0,25);
}

ul{
  list-style: none;
}

.dc-btn{
  bottom: -40px;
  right: 0px;
  background-color: #900019;
  color: white;
  font-size: 80%;
  border-radius: 8px;

}

.dc-btn:hover{
  background-color: #c21532;
  text-decoration: underline;
  color: white;
}